.container{

padding:30px;

}



.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}



h1{

font-size:28px;

}



input{

width:300px;

padding:12px;

border-radius:8px;

border:1px solid #ccc;

}





table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:10px;

overflow:hidden;

}




th{

background:#2563eb;

color:white;

padding:14px;

}




td{

padding:12px;

text-align:center;

border-bottom:1px solid #ddd;

}





.status{

padding:6px 14px;

border-radius:20px;

font-weight:bold;

font-size:14px;

}



.active{

background:#dcfce7;

color:#15803d;

}



.warning{

background:#fef3c7;

color:#d97706;

}



.expired{

background:#fee2e2;

color:#dc2626;

}



.none{

background:#e5e7eb;

color:#374151;

}





button{

padding:8px 14px;

border:none;

border-radius:6px;

cursor:pointer;

margin:3px;

color:white;

}




.edit{

background:#2563eb;

}




.delete{

background:#dc2626;

}




.empty{

text-align:center;

margin-top:30px;

font-size:18px;

color:#666;

}