.container{

    width:90%;
    margin:auto;
    margin-top:30px;

}

table{

    width:100%;
    border-collapse:collapse;
    margin-top:20px;

}

th,td{

    border:1px solid #ddd;
    padding:12px;
    text-align:center;

}

th{

    background:#1976d2;
    color:white;

}

h2{

    color:#1976d2;

}