<div class="profile-container">


<h2>
My Profile
</h2>



<div *ngIf="profile">


<label>Name</label>

<input 
[(ngModel)]="profile.name"
[disabled]="!editMode">



<label>Email</label>

<input 
[(ngModel)]="profile.email"
disabled>



<label>Phone</label>

<input 
[(ngModel)]="profile.phone"
[disabled]="!editMode">



<label>Role</label>

<input 
[(ngModel)]="profile.role"
disabled>




<button 
*ngIf="!editMode"
(click)="enableEdit()">

Edit Profile

</button>



<button 
*ngIf="editMode"
(click)="saveProfile()">

Save

</button>


</div>


</div>