.statistics{

padding:30px;

}


.cards{

display:flex;

gap:20px;

}


.card{

background:white;

padding:20px;

width:250px;

border-radius:15px;

box-shadow:0 5px 15px #ddd;

text-align:center;

}



.charts{

display:flex;

gap:40px;

margin-top:40px;

}


canvas{

width:400px!important;

height:300px!important;

}